@model RozetkaWebApp.Models.Contact

@{
    ViewBag.ContactsTab = "active";
    Html.RenderPartial("_ProfileNavigator");
}

<p>
     <h4> Новый контакт </h4>
 </p>
<div class="row">
    <div class="col-md-6">
        <form asp-action="Create">
            
            <div class="form-group">
                <input type="submit" value="Создать" class="btn btn-success" />
                <button type="button" class="btn btn-primary"  onclick= "history.go(-1)">Отменить</button>
                    <hr />
            </div> 

            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="ContactType" class="control-label">Тип контакта</label>
                <input asp-for="ContactType" class="form-control" />
                <span asp-validation-for="ContactType" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="FullName" class="control-label">Полное имя</label>
                <input asp-for="FullName" class="form-control" />
                <span asp-validation-for="FullName" class="text-danger"></span>
            </div>
            <div class="form-group" style="display: none">
                <label asp-for="DisplayName" class="control-label"></label>
                <input asp-for="DisplayName" class="form-control" />
                <span asp-validation-for="DisplayName" class="text-danger"></span>
            </div>
            <div class="form-group" style="display: none">
                <label asp-for="Title" class="control-label"></label>
                <input asp-for="Title" class="form-control" />
                <span asp-validation-for="Title" class="text-danger"></span>
            </div>
            <div class="form-group" style="display: none">
                <label asp-for="Salutation" class="control-label"></label>
                <input asp-for="Salutation" class="form-control" />
                <span asp-validation-for="Salutation" class="text-danger"></span>
            </div>
            <div class="form-group" style="display: none">
                <label asp-for="Attention" class="control-label"></label>
                <input asp-for="Attention" class="form-control" />
                <span asp-validation-for="Attention" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="FirstName" class="control-label">Имя</label>
                <input asp-for="FirstName" class="form-control" />
                <span asp-validation-for="FirstName" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="MidName" class="control-label">Отчество</label>
                <input asp-for="MidName" class="form-control" />
                <span asp-validation-for="MidName" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="LastName" class="control-label"Фамилия></label>
                <input asp-for="LastName" class="form-control" />
                <span asp-validation-for="LastName" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Email" class="control-label">Адрес электронной почты</label>
                <input asp-for="Email" class="form-control" />
                <span asp-validation-for="Email" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="WebSite" class="control-label">Веб-сайт</label>
                <input asp-for="WebSite" class="form-control" />
                <span asp-validation-for="WebSite" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Fax" class="control-label">Факс</label>
                <input asp-for="Fax" class="form-control" />
                <span asp-validation-for="Fax" class="text-danger"></span>
            </div>
            <div class="form-group" >
                <label asp-for="FaxType" class="control-label">Тип факса</label>
                <input asp-for="FaxType" class="form-control" />
                <span asp-validation-for="FaxType" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Phone1" class="control-label">Мобильный телефон</label>
                <input asp-for="Phone1" class="form-control" />
                <span asp-validation-for="Phone1" class="text-danger"></span>
            </div>
            <div class="form-group" style="display: none">
                <label asp-for="Phone1Type" class="control-label"></label>
                <input asp-for="Phone1Type" class="form-control" />
                <span asp-validation-for="Phone1Type" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Phone2" class="control-label">Стационарный телефон</label>
                <input asp-for="Phone2" class="form-control" />
                <span asp-validation-for="Phone2" class="text-danger"></span>
            </div>
            <div class="form-group" style="display: none">
                <label asp-for="Phone2Type" class="control-label"></label>
                <input asp-for="Phone2Type" class="form-control" />
                <span asp-validation-for="Phone2Type" class="text-danger"></span>
            </div>
            <div class="form-group" style="display: none">
                <label asp-for="Phone3" class="control-label"></label>
                <input asp-for="Phone3" class="form-control" />
                <span asp-validation-for="Phone3" class="text-danger"></span>
            </div>
            <div class="form-group" style="display: none">
                <label asp-for="Phone3Type" class="control-label"></label>
                <input asp-for="Phone3Type" class="form-control" />
                <span asp-validation-for="Phone3Type" class="text-danger"></span>
            </div>
            <div class="form-group" style="display: none">
                <label asp-for="DefAddressId" class="control-label"></label>
                <input asp-for="DefAddressId" class="form-control" />
                <span asp-validation-for="DefAddressId" class="text-danger"></span>
            </div>
            <div class="form-group" style="display: none">
                <label asp-for="UserId" class="control-label"></label>
                 <input asp-for="UserId" class="form-control" value=@ViewBag.User.Id />
                <span asp-validation-for="UserId" class="text-danger"></span>

            </div>
            <div class="form-group" style="display: none">
                <label asp-for="AssignDate" class="control-label"></label>
                <input asp-for="AssignDate" class="form-control" />
                <span asp-validation-for="AssignDate" class="text-danger"></span>
            </div>
            <div class="form-group" style="display: none">
                <label asp-for="ExtAddressId" class="control-label"></label>
                <input asp-for="ExtAddressId" class="form-control" />
                <span asp-validation-for="ExtAddressId" class="text-danger"></span>
            </div>         
        </form>
    </div>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
