@model RozetkaWebApp.Models.Wallett

@{
    ViewBag.WalletsTab = "active";
    Html.RenderPartial("_ProfileNavigator");
}

<p>
     <h4> Изменить информацию о карте </h4>
 </p>

<div class="row">
    <div class="col-md-12">
         <div class="form-group">
                <input type="submit" value="Сохранить" class="btn btn-success" />
                 <button type="button" class="btn btn-primary"  onclick= "history.go(-1)">Отменить</button>
                <hr />
            </div>    
        <form asp-action="Edit">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="WalletId" />
            <div class="form-group">
                <label asp-for="CardNumber" class="control-label">Номер карты</label>
                <input asp-for="CardNumber" class="form-control" />
                <span asp-validation-for="CardNumber" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="ExpiryDate" class="control-label">Срок работы</label>
                <input asp-for="ExpiryDate" class="form-control" />
                <span asp-validation-for="ExpiryDate" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Cardholder" class="control-label">Имя владельца</label>
                <input asp-for="Cardholder" class="form-control" />
                <span asp-validation-for="Cardholder" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="CardType" class="control-label">Тип карты</label>
                <input asp-for="CardType" class="form-control" />
                <span asp-validation-for="CardType" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="VerificationCode" class="control-label">CVV-код</label>
                <input asp-for="VerificationCode" class="form-control" />
                <span asp-validation-for="VerificationCode" class="text-danger"></span>
            </div>
            <div class="form-group"  style="display: none">
                <label asp-for="UserId" class="control-label"></label>
                <select asp-for="UserId" class="form-control" asp-items="ViewBag.UserId"></select>
                <span asp-validation-for="UserId" class="text-danger"></span>
            </div>
        </form>
    </div>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
