@using RozetkaWebApp.App_GlobalResources;
@using System.Globalization
@model RozetkaWebApp.Models.Product

@{
    ViewBag.Product = Model;
    ViewBag.DetailsTab = (("active"));
    Html.RenderPartial((("_ProductNavigator")));
}

<p> <h4> Макет сторінки</h4> </p>

<div class="row">
    <div class="col-md-8">
        <div class="form-group">
            <a class="btn btn-success" asp-action="Edit" asp-route-id="@Model.ProductId"> @Resources.Изменить </a>
            <button type="button" class="btn btn-primary" onclick="history.go(-1)">@Resources.Отменить</button>
            @{
                ViewBag.returnUrl = "/Catalogs/details/" + Model.CatalogId.ToString();
                string Path = "/Products/delete/" + Model.ProductId.ToString();
                <partial name="_ButtonDeleteDetails" model="@Path" />
            }
            <hr />
        </div>
        <p></p>
        @{
            Html.RenderPartial((("_BlockProduct")), Model);
        }
    </div>
    <div class="col-md-4">
        <img src="/images/products/@(Model.ProductId)/first" alt=@Model.Label width="100%" />
    </div>
</div>




@{
    Html.RenderPartial((("_BlockCharacteristics")), Model.Characteristics);
    Html.RenderPartial((("_BlockComments")), Model.Comments);
    Html.RenderPartial((("_BlockAdvertising")));
}
