@model RozetkaWebApp.Models.PortalImage

@{
    ViewBag.ImagesTab = "active";
    Html.RenderPartial("_PortalNavigator");
}

  <p>
     <h4> Новое изображение </h4>
 </p>
<div class="row">
    <div class="col-md-12">
        <form asp-action="Create" method="post" enctype="multipart/form-data">
             <div class="form-group">
                <input type="submit" value="Создать" class="btn btn-success" />
                <button type="button" class="btn btn-primary"  onclick= "history.go(-1)">Отменить</button>
               <hr />
            </div> 
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group" style="display: none">
                <label asp-for="PortalId" class="control-label"></label>
                <input asp-for="PortalId" class="form-control" value=@ViewBag.Portal.PortalId/>
                <span asp-validation-for="PortalId" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Title" class="control-label">Заголовок</label>
                <input asp-for="Title" class="form-control" />
                <span asp-validation-for="Title" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Label" class="control-label">Этикетка</label>
                <input asp-for="Label" class="form-control" />
                <span asp-validation-for="Label" class="text-danger"></span>
            </div>
      
              <div class="form-group">
                 <div class="editor-label">Файл изображения</div>
                 <div class="editor-field">
                      <input type="file" name="uploadImage" accept="image/*" />
                </div>
            </div>
        </form>
    </div>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
