@model IEnumerable<RozetkaWebApp.Models.Characteristic>

@{
    ViewData["Title"] = "Характеритики";
}

<h1> Детально о товаре </h1>

 <p><a  class="btn btn-success" asp-controller = "CartDetails" asp-action="AddToCart" asp-route-id = "@ViewBag.Product.ProductId" > Купить </a>   </p>


<table class="table">
     <tbody>
    @foreach (var item in Model) {
        <tr>
            <td>
               <p>@Html.DisplayFor(modelItem => item.Property.Label)</p>     
               </td>
                   <td>
               <p>@Html.DisplayFor(modelItem => item.Value)</p>     
               </td>
        </tr>
    }
    </tbody>
</table>