@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <p>Learn about <a href="https://docs.microsoft.com/aspnet/core">building Web apps with ASP.NET Core</a>.</p>
     <a asp-controller = "Portals" asp-action="Index">Администрирование</a> 
     <p></p>
    <a asp-controller = "Pages" asp-route-id=1  asp-action="Portal">Pages\Portal\1</a> 
     <p></p>
    <a asp-controller = "Pages" asp-route-id=1  asp-action="Catalog">Pages\Catalog\1</a> 
    <p></p>
    <a asp-controller = "Pages" asp-route-id=1  asp-action="Product">Pages\Product\1</a> 
</div>
