@using RozetkaWebApp.App_GlobalResources;
@model RozetkaWebApp.Models.Order

@{
    ViewBag.Title= Resources.Create;
}

<h1>@Resources.Create</h1>

<h4>@Resources._Order</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Create">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="UserId" class="control-label"></label>
                <select asp-for="UserId" class ="form-control" asp-items="ViewBag.UserId"></select>
            </div>
            <div class="form-group">
                <label asp-for="Description" class="control-label"></label>
                <input asp-for="Description" class="form-control" />
                <span asp-validation-for="Description" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Total" class="control-label"></label>
                <input asp-for="Total" class="form-control" />
                <span asp-validation-for="Total" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="OrderDate" class="control-label"></label>
                <input asp-for="OrderDate" class="form-control" />
                <span asp-validation-for="OrderDate" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Status" class="control-label"></label>
                <input asp-for="Status" class="form-control" />
                <span asp-validation-for="Status" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="CardNumber" class="control-label"></label>
                <input asp-for="CardNumber" class="form-control" />
                <span asp-validation-for="CardNumber" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="DeliveryAddress" class="control-label"></label>
                <input asp-for="DeliveryAddress" class="form-control" />
                <span asp-validation-for="DeliveryAddress" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="DeliveryContact" class="control-label"></label>
                <input asp-for="DeliveryContact" class="form-control" />
                <span asp-validation-for="DeliveryContact" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="DeliveryEmail" class="control-label"></label>
                <input asp-for="DeliveryEmail" class="form-control" />
                <span asp-validation-for="DeliveryEmail" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="DeliveryPhone" class="control-label"></label>
                <input asp-for="DeliveryPhone" class="form-control" />
                <span asp-validation-for="DeliveryPhone" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="ExtOrderNbr" class="control-label"></label>
                <input asp-for="ExtOrderNbr" class="form-control" />
                <span asp-validation-for="ExtOrderNbr" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">@Resources.Back_to_List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync((("_ValidationScriptsPartial")));}
}
