@page
@model AccessDeniedModel
@{
    ViewBag.Title= "Отказано в доступе";
}

<header>
    <h1 class="text-danger">@ViewBag.Title</h1>
    <p class="text-danger">You do not have access to this resource.</p>
</header>
