@page
@using RozetkaWebApp.App_GlobalResources;
@model ConfirmEmailChangeModel
@{
    ViewBag.Title= Resources.Подтверждение_изменения_электр;
}

<h1>@ViewBag.Title</h1>
<partial name="_StatusMessage" model="Model.StatusMessage" />