@page
@using RozetkaWebApp.App_GlobalResources;
@model ForgotPasswordConfirmation
@{
    ViewBag.Title= Resources.Подтверждение_изменения_пароля;
}

<h1>@ViewBag.Title</h1>
<p>
    @Resources.Please_check_your_email_to_res
</p>

