@page
@using RozetkaWebApp.App_GlobalResources;
@model LockoutModel
@{
    ViewBag.Title= Resources.Заблокировано;
}

<header>
    <h1 class="text-danger">@ViewBag.Title</h1>
    <p class="text-danger">@Resources.This_account_has_been_locked_o</p>
</header>
