@page
@using RozetkaWebApp.App_GlobalResources;
@model LoginWithRecoveryCodeModel
@{
    ViewBag.Title= Resources.Проверка_кода_восстановления;
}

<h1>@ViewBag.Title</h1>
<hr />
<p>
   @Resources.Вы_запросили_вход_с_кодом_восс
</p>
<div class="row">
    <div class="col-md-4">
        <form method="post">
            <div asp-validation-summary="All" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="Input.RecoveryCode"></label>
                <input asp-for="Input.RecoveryCode" class="form-control" autocomplete="off" />
                <span asp-validation-for="Input.RecoveryCode" class="text-danger"></span>
            </div>
            <button type="submit" class="btn btn-primary">@Resources.Вход</button>
        </form>
    </div>
</div>

@section Scripts {
    <partial name="_ValidationScriptsPartial" />
}
