@page
@using RozetkaWebApp.App_GlobalResources;
@model ResetPasswordConfirmationModel
@{
    ViewBag.Title= Resources.Подтверждение_сброса_пароля;
}

<h1>@ViewBag.Title</h1>
<p>   
@Resources.Ваш_пароль_был_сброшен_Пожалуй <a asp-page="./Login">@Resources.нажмите_здесь_для_входа</a>.
</p>
