@model IEnumerable<RozetkaWebApp.Models.ProductImage>

@{
    ViewBag.ImagesTab = "active";
    Html.RenderPartial("_ProductNavigator");
}

        <p><h4>Список изображений</h4></p>
                 
        <p><a  class="btn btn-success"  asp-action="Create" asp-route-id="@ViewBag.Product.ProductId"> Добавить новое</a></p>

      <hr />
 <div class=row>
    @foreach (var item in Model) 
    {
          <div class="col-md-3"> 
              <div class="col-12 text-truncate h6">              
                    <a asp-action="Edit" asp-route-id="@item.ProductImageId"> <i class="fas fa-solid fa-pen-square"></i> </a> 
                    <a asp-action="Delete" asp-route-id="@item.ProductImageId"> <i class="fas fa-solid fa-trash"></i> </a>
                    @Html.DisplayFor(modelItem => item.Title)
              </div> 
              <div class="thumbnail">   
                    <img src="/images/Index/@item.ImageId" alt="item.Label" width = "100%" >    
              </div> 
              <p></p>  
         </div>    
    }
</div>

