@model RozetkaWebApp.Models.AspNetUserRole

@{
    ViewBag.Title= "Удалить члена группы";
}

@{
    ViewBag.DetailsTab = "active";
    Html.RenderPartial("_RootNavigator");



    var Id = Model.UserId + Model.RoleId;
}

<p> 
    <h4>Вы хотите удалить этого пользователя из группы?</h4>
</p>
<form asp-action="Delete">
   
        <input type="hidden" asp-for="@Id" />
        <input type="submit" value="Удалить" class="btn btn-danger" /> 
        <button type="button" class="btn btn-primary"  onclick= "history.go(-1)">Отменить</button>
         <hr />
    </form>
<div>
    <dl class="row">
        <dt class = "col-sm-2">
            Группы безопасности
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Role.Name)
        </dd class>
        <dt class = "col-sm-2">
           Пользователь
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.User.UserName)
        </dd class>
    </dl>
    

</div>
