@model RozetkaWebApp.Models.Portal

@{
    ViewData["Title"] ="Портал - "+@Model.Label;
}
    <p> 
               <a> Администрирование </a> 
         <a > @Model.Label </a>  
    </p>

    <h1>@ViewData["Title"]</h1>


        <ul class="nav nav-tabs">
            <li class="nav-item">  <a class="nav-link" href="/Catalogs/Index/@Model.PortalId">Каталоги</a> </li>
            <li class="nav-item">  <a class="nav-link" href="/PortalImages/Index/@Model.PortalId">Изображения</a> </li>
            <li class="nav-item">  <a class="nav-link active" href="/Portals/Details/@Model.PortalId">Детали</a> </li>
        </ul>  
    <p> 
         <h4>Изменить портал</h4>
    </p>  

<div class="row">
    <div class="col-sm-12">
        <form asp-action="Edit">


             <div class="form-group">
                <input type="submit" value="Сохранить" class="btn btn-success" />
                 <button type="button" class="btn btn-primary"  onclick= "history.go(-1)">Отменить</button>   
            </div>

            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="PortalId" />
            <div class="form-group">
                <label asp-for="Title" class="control-label"></label>
                <input asp-for="Title" class="form-control" />
                <span asp-validation-for="Title" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Label" class="control-label"></label>
                <input asp-for="Label" class="form-control" />
                <span asp-validation-for="Label" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Description" class="control-label"></label>
                 <div>
                    <textarea asp-for="Description" rows="6" style="width:100%"></textarea>
                    <span asp-validation-for="Description" class="text-danger"></span>
                </div>
            </div>
            <div class="form-group">
                <label asp-for="Attributes" class="control-label"></label>
                <div>
                    <textarea asp-for="Attributes" rows="6" style="width:100%"></textarea>
                    <span asp-validation-for="Attributes" class="text-danger"></span>
                </div>
            </div>
        </form>
    </div>
</div>



@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
