@using RozetkaWebApp.App_GlobalResources;
@model IEnumerable<RozetkaWebApp.Models.CatalogImage>

@{
    ViewBag.ImagesTab = "active";
    Html.RenderPartial("_CatologNavigator");
}
           <p><h4>@Resources.Список_изображений</h4></p>
                
@{  
    Html.RenderPartial("_FilterNavigator");
}


    <div class=row>
        @foreach (var item in Model) 
        {
          <div class="col-md-3">              
             <div class="col-12 text-truncate h6">              
                    <a asp-action="Edit" asp-route-id="@item.Id"> <i class="fas fa-solid fa-pen-square"></i> </a> 
                    <a asp-action="Delete" asp-route-id="@item.Id"> <i class="fas fa-solid fa-trash"></i> </a>
                    @Html.DisplayFor(modelItem => item.Label)
              </div>
              <div class="thumbnail">   
                  <img src="/images/Index/@item.ImageId" alt="item.Label" width="100%">    
             </div> 
            <p></p>  
         </div>    
        }
    </div>

     @{
     Html.RenderPartial("_PageNavigator");
 }

