
<h4>API</h4>

<table class="table">
    <thead>
         <tr> <th> Описание                                          </th> <th> Url                             </th><th> Параметры по умолчанию  </th>  </tr>
    </thead>
    <tbody> 
 @*         <tr><td> <h5>URL страниц администрироавния</h5> </td><td>   </td> <td>     </td> </tr>
 *@         
        @*  <tr><td> <h6>Страницы изображения веб-сайта</h6> </td><td>   </td> <td>     </td></tr>
          <tr><td> Управление списком рисунков веб-сайта </td><td> /RootImages   </td> <td>  -  </td></tr>
          <tr><td> Добавление изображениея веб-сайта  </td><td> /RootImages/create   </td> <td>  -  </td></tr>
          <tr><td> Редактирование изображения по его id   </td><td> /RootImages/edit/{id}  </td> <td>  -  </td></tr>
          <tr><td> Удалание изображения сайта по его id  </td><td> /RootImages/delete/{id}  </td> <td>  -  </td></tr>
          
          <tr><td> <h6>Страницы порталов</h6> </td><td>   </td> <td>     </td></tr>
          <tr><td> Управление списком порталов веб-сайта  </td><td> /portals   </td> <td>  -  </td></tr>
          <tr><td> Добавление портала веб-сайта  </td><td> /portals/create   </td> <td>  -  </td></tr>
          <tr><td> Редактирование портала по его id  </td><td> /portals/edit/{portalId}  </td> <td>  -  </td></tr>
          <tr><td> Удалание портала по его id   </td><td> /portals/delete/portalId}  </td> <td>  -  </td></tr>
          <tr><td> Детали портала по его id   </td><td> /portals/details/{portalId}  </td> <td>  -  </td></tr>

          <tr><td> <h6>Страницы изображений портала</h6> </td><td>   </td> <td>     </td></tr>
          <tr><td> Управление списком изображений портала </td><td> /portalImages/index/{portalid}  </td> <td>  -  </td></tr>
          <tr><td> Добавление изображений портала  </td><td> /portalImages/create/{portalid}   </td> <td>  -  </td></tr>
          <tr><td> Редактирование изображения портала   </td><td> /portalImages/edit/{imageId}  </td> <td>  -  </td></tr>
          <tr><td> Удалание изображения портала  </td><td> /portalImages/delete/{imageId}  </td> <td>  -  </td></tr>

           <tr><td> <h6>Страницы катологов </h6> </td><td>   </td> <td>     </td></tr>
          <tr><td> Управление списком каталов портала  </td><td> /catalogs/{portalId}   </td> <td>  -  </td></tr>
          <tr><td> Добавление каталога к порталу  </td><td> /catalogs/create(portalId)   </td> <td>  -  </td></tr>
          <tr><td> Редактирование каталога по его id  </td><td> /catalogs/edit/{catalogId}  </td> <td>  -  </td></tr>
          <tr><td> Удалание каталога по его id   </td><td> /catalogs/delete/{catalogId}  </td> <td>  -  </td></tr>
          <tr><td> Детали каталога по его id   </td><td> /catalogs/details/{catalogId}  </td> <td>  -  </td></tr>

          <tr><td> <h6>Страницы изображений каталога</h6> </td><td>   </td> <td>     </td></tr>
          <tr><td> Управление списком изображений каталога </td><td> /catalogImages/index/{cataloglid}  </td> <td>  -  </td></tr>
          <tr><td> Добавление изображений каталога  </td><td> /catalogImages/create/{cataloglid}   </td> <td>  -  </td></tr>
          <tr><td> Редактирование изображения каталога   </td><td> /catalogImages/edit/{imageId}  </td> <td>  -  </td></tr>
          <tr><td> Удалание изображения каталога  </td><td> /catalogImages/delete/{imageId}  </td> <td>  -  </td></tr>
*@
          
          <tr><td> <h5>URL файлов рисунков</h5> </td><td>   </td> <td>     </td> </tr>
          <tr><td> Получить рисунок по его ИД   </td><td> /images/{id}  >>   </td> <td>  -  </td></tr>
          <tr><td> Получить рисунок веб сайта по названию рисунка </td><td> /images/root/{label}   </td> <td>  -  </td></tr>
          <tr><td> Получить рисунок портала по Id портала и названию рисунка: </td><td>  /images/portals/{Id}/{label}  </td> <td>  -  </td></tr>
          <tr><td> Получить рисунок каталога по Id каталога и названию рисунка    </td><td>  /images/catalogs/{Id}/{label}  </td> <td>  -  </td></tr>
          <tr><td> Получить рисунок продукта по Id продукта и названию рисунка  </td><td>  /images/products/{Id}/{label}      </td> <td>            </td></tr>
          <tr><td> <h5>API для данных в формате JSON</h5> </td><td>   </td> <td>     </td> </tr>

            <tr><td> <h6>Порталы</h6> </td><td>   </td> <td>     </td></tr>
          <tr><td> Получить список порталов  </td><td> <a href="/api/v1/portals" rel="external"> /api/v1/portals</a> </td> <td> orderBy="Id",orderMode="Desc",page=0,pageSize=50  </td></tr>
          <tr><td> Получить данные для портала </td><td> <a href="/api/v1/portals/1" > /api/v1/portals/{id} </a>   </td> <td>    orderBy="Id",orderMode="Desc",page=0,pageSize=50         </td></tr>
          <tr><td> Получить список каталогов портала</td><td>   <a href="/api/v1/portals/1/catalogs" > /api/v1/portals/{id}/catalogs </a>  </td> <td> orderBy="Id",orderMode="Desc",page=0,pageSize=50     </td></tr>
          <tr><td> Получить список рисунков портала</td><td>    <a href="/api/v1/portals/1/images" > /api/v1/portals/{id}/images </a>  </td> <td>  orderBy="Id",orderMode="Desc",page=0,pageSize=50    </td></tr>
          <tr><td> Получить данные рисунков портала по имени</td><td>    <a href="/api/v1/portals/1/images/Main" > /api/v1/portals/{id}/images/{label} </a>  </td> <td>  orderBy="Id",orderMode="Desc",page=0,pageSize=50    </td></tr>

          <tr><td> Получить список просмотров для портала по id портала </td><td>  <a href="/api/v1/portals/1/views" >  /api/v1/portals/{id}/views </a>  </td> <td>   orderBy="Id",orderMode="Desc",page=0,pageSize=50        </td></tr>
             
          <tr><td> <h6>Каталоги</h6> </td><td>   </td> <td>     </td></tr>             
          <tr><td> Получить список каталогов  </td><td>  <a href="/api/v1/catalogs" > /api/v1/catalogs </a>   </td> <td>  orderBy="Id",orderMode="Desc",page=0,pageSize=50  </td></tr>
          <tr><td> Получить данные каталога </td><td>  <a href="/api/v1/catalogs/1" > /api/v1/catalogs/{id} </a>   </td> <td>  orderBy="Id",orderMode="Desc",page=0,pageSize=50            </td></tr>
          <tr><td> Получить список продуктов каталога</td><td>  <a href="/api/v1/catalogs/1/products" > /api/v1/catalogs/{id}/products </a>  </td> <td>  orderBy="Id",orderMode="Desc",page=0,pageSize=50    </td></tr>
          <tr><td> Получить список рисунков каталога </td><td>  <a href="/api/v1/catalogs/1/images" > /api/v1/catalogs/{id}/images </a>  </td> <td>  orderBy="Id",orderMode="Desc",page=0,pageSize=50    </td></tr>
          <tr><td> Получить рисунок каталога по имени</td><td>  <a href="/api/v1/catalogs/1/images/Main" > /api/v1/catalogs/{id}/images/{label} </a>  </td> <td>  orderBy="Id",orderMode="Desc",page=0,pageSize=50    </td></tr> 
          <tr><td> Получить список свойств каталога</td><td> <a href="/api/v1/catalogs/1/properties" > /api/v1/catalogs/{id}/properties </a> </td> <td>  orderBy="Id",orderMode="Desc",page=0,pageSize=50    </td></tr>
          <tr><td> Получить список фильтров каталога </td><td>  <a href="/api/v1/catalogs/1/filters" >  /api/v1/catalogs/{id}/filters </a> </td> <td>     page=0,pageSize=50         </td></tr>
          <tr><td> Получить список просмотров каталога </td><td>  <a href="/api/v1/catalogs/1/views" >  /api/v1/catalogs/{id}/views </a> </td> <td>     page=0,pageSize=50         </td></tr>
          
          <tr><td> <h6>  Продукты</h6> </td><td>   </td> <td>     </td></tr>      
          <tr><td> Получить список продуктов  </td><td> <a href="/api/v1/products" > /api/v1/products </a>  </td> <td>   orderBy="Id",orderMode="Desc",page=0,pageSize=50 </td></tr>
          <tr><td> Получить данные для продукта </td><td> <a href="/api/v1/products/1" > /api/v1/products/{id} </a>  </td> <td>  orderBy="Id",orderMode="Desc",page=0,pageSize=50         </td></tr>
          <tr><td> Получить список рисунков продукта </td><td>   <a href="/api/v1/products/1/images" > /api/v1/products/{id}/images </a> </td> <td>    orderBy="Id",orderMode="Desc",page=0,pageSize=50  </td></tr>
          <tr><td> Получить данные рисунка продукта по названию </td><td> <a href="/api/v1/products/1/images/main" >   /api/v1/products/{id}/images/{label} </a>  </td> <td>   orderBy="Id",orderMode="Desc",page=0,pageSize=50   </td></tr>
          <tr><td> Получить список характеристик продукта</td><td> <a href="/api/v1/products/1/characteristics" > /api/v1/products/{id}/characteristics </a>  </td> <td>   orderBy="Id",orderMode="Desc",page=0,pageSize=50   </td></tr>

          <tr><td> <h6>   Акций</h6> </td><td>   </td> <td>     </td></tr>      
          <tr><td> Получить список акций  </td><td> <a href="/api/v1/promotions" > /api/v1/promotions </a>   </td> <td>   orderBy="Id",orderMode="Desc",page=0,pageSize=50 </td></tr>
          <tr><td> Получить данные для акции по  Id акции </td><td>   <a href="/api/v1/promotions/1" > /api/v1/promotions/{id} </a>    </td> <td>    orderBy="Id",orderMode="Desc",page=0,pageSize=50         </td></tr>
          <tr><td> Получить список продуктов акций по Id акиции</td><td> <a href="/api/v1/promotions/1/products" >   /api/v1/promotions/{id}/products </a>   </td> <td>   orderBy="Id",orderMode="Desc",page=0,pageSize=50   </td></tr>
         

          <tr><td> <h6>   Свойтва продуктов</h6> </td><td>   </td> <td>     </td></tr>      
          <tr><td> Получить список свойтв  </td><td> <a href="/api/v1/properties" > /api/v1/properties </a>   </td> <td>   orderBy="Id",orderMode="Desc",page=0,pageSize=50 </td></tr>
          <tr><td> Получить данные для свойства по id свойства </td><td>   <a href="/api/v1/properties/1" > /api/v1/properties/{id} </a>    </td> <td>  orderBy="Id",orderMode="Desc",page=0,pageSize=50           </td></tr>
          <tr><td> Получить данные для фильтра по id свойства </td><td> <a href="/api/v1/properties/3/filters" >   /api/v1/properties/{id}/filters </a>    </td> <td>  orderBy="Id",orderMode="Desc",page=0,pageSize=50           </td></tr>

          <tr><td> <h6>  Характеристики (значения свойств) продуктов</h6> </td><td>   </td> <td>     </td></tr>      
          <tr><td> Получить список характеристик  </td><td> <a href="/api/v1/characteristics" > /api/v1/api/v1/characteristics </a>   </td> <td>  orderBy="Id",orderMode="Desc",page=0,pageSize=50  </td></tr>
          <tr><td> Получить данные для характеристики по id характеристики </td><td> <a href="/api/v1/characteristics/1" > /api/v1/api/v1/characteristics/{id} </a>  </td> <td>   orderBy="Id",orderMode="Desc",page=0,pageSize=50          </td></tr>
           <tr><td>  </td><td>   </td> <td>     </td></tr>
           
          <tr><td> <h6>  Просмотры продуктов</h6> </td><td>   </td> <td>     </td></tr>      
          <tr><td> Получить список просмотров  </td><td> <a href="/api/v1/views" >  /api/v1/views </a>  </td> <td>  page=0,pageSize=50  </td></tr>
  
                        
          <tr><td> <h6>  Просмотры фильтров</h6> </td><td>   </td> <td>     </td></tr>      
          <tr><td> Получить список фильтров  </td><td> <a href="/api/v1/filters" >  /api/v1/filters </a>  </td> <td>  page=0,pageSize=50  </td></tr>
 
            <tr><td> <h6>  Пользователи</h6> </td><td>   </td> <td>     </td></tr>  
          <tr><td> Получить список просмотров для пользователя по id пользователя </td><td> <a href="/api/v1/users/sfsd-sdfdsf-sdgsd-98-00/views" >   /api/v1/users/{id}/views </a>   
           
          <tr><td>  </td><td>   </td> <td>     </td></tr>
          <tr><td>  </td><td>   </td> <td>     </td></tr>   
          <tr><td>  </td><td>   </td> <td>     </td></tr>
          <tr><td>  </td><td>   </td> <td>     </td></tr>
          <tr><td>  </td><td>   </td> <td>     </td></tr>
          <tr><td>  </td><td>   </td> <td>     </td></tr>   
          <tr><td>  </td><td>   </td> <td>     </td></tr>
          <tr><td>  </td><td>   </td> <td>     </td></tr>
          <tr><td>  </td><td>   </td> <td>     </td></tr>
          <tr><td>  </td><td>   </td> <td>     </td></tr>   
          <tr><td>  </td><td>   </td> <td>     </td></tr>
          <tr><td>  </td><td>   </td> <td>     </td></tr>
          <tr><td>  </td><td>   </td> <td>     </td></tr>
          <tr><td>  </td><td>   </td> <td>     </td></tr>   
          <tr><td>  </td><td>   </td> <td>     </td></tr>
     </tbody>
</table>
 <tr>