@using RozetkaWebApp.App_GlobalResources;
@{
    ViewBag.PersonalTab = "active";
    Html.RenderPartial("_ProfileNavigator");
}

@{
    if (ViewData.TryGetValue(Resources.ParentLayout, out var parentLayout))
    {
        Layout = (string)parentLayout;
    }
    else
    {
        Layout = "/Areas/Identity/Pages/_Layout.cshtml";
    }
}

<p><h4>@Resources.Управление_учетной_записью</h4></p>

<div>
@*    <h4>Change your account settings</h4>*@
    <hr />
    <div class="row">
        <div class="col-md-3">
            <partial name="_ManageNav" />
        </div>
        <div class="col-md-9">
            @RenderBody()
        </div>
    </div>
</div>

@section Scripts {
    @RenderSection("Scripts", required: false)
}
