@using RozetkaWebApp.App_GlobalResources;
@model string

@if (!String.IsNullOrEmpty(Model))
{
    var statusMessageClass = Model.StartsWith(Resources.Error0) ? Resources.danger : Resources.success;
    <div class="alert alert-@statusMessageClass alert-dismissible" role="alert">
        <button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">@Resources._times</span></button>
        @Model
    </div>
}