@page
@using RozetkaWebApp.App_GlobalResources;
@model DeletePersonalDataModel
@{
    ViewBag.Title= Resources.Delete_Personal_Data;
    ViewBag.ActivePage = ManageNavPages.PersonalData;
}

<h4>@ViewBag.Title</h4>

<div class="alert alert-warning" role="alert">
    <p>
        <strong>@Resources.Удаление_этих_данных_навсегда_</strong>
    </p>
</div>

<div>
    <form id="delete-user" method="post" class="form-group">
        <div asp-validation-summary="All" class="text-danger"></div>
        @if (Model.RequirePassword)
        {
            <div class="form-group">
                <label asp-for="Input.Password">@Resources.Пароль</label>
                <input asp-for="Input.Password" class="form-control" />
                <span asp-validation-for="Input.Password" class="text-danger"></span>
            </div>
        }
        <button class="btn btn-danger" type="submit">@Resources.Удалить_данные_и_мой_аккаунт</button>
    </form>
</div>

@section Scripts {
    <partial name="_ValidationScriptsPartial" />
}