@page
@using RozetkaWebApp.App_GlobalResources;
@model DownloadPersonalDataModel
@{
    ViewBag.Title= Resources.Скачайть_ваши_данные;
    ViewBag.ActivePage = ManageNavPages.PersonalData;
}

<h4>@ViewBag.Title</h4>

@section Scripts {
    <partial name="_ValidationScriptsPartial" />
}