@page
@model DownloadPersonalDataModel
@{
    ViewBag.Title= "Скачайть ваши данные";
    ViewBag.ActivePage = ManageNavPages.PersonalData;
}

<h4>@ViewBag.Title</h4>

@section Scripts {
    <partial name="_ValidationScriptsPartial" />
}