@page
@using RozetkaWebApp.App_GlobalResources;
@model ResetAuthenticatorModel
@{
    ViewBag.Title= Resources.Сбросить_ключ_аутентификатора;
    ViewBag.ActivePage = ManageNavPages.TwoFactorAuthentication;
}

<partial name="_StatusMessage" for="StatusMessage" />
<h4>@ViewBag.Title</h4>
<div class="alert alert-warning" role="alert">
    <p>
        <span class="glyphicon glyphicon-warning-sign"></span>
        <strong>@Resources.Если_вы_сбросите_свой_ключ_аут</strong>
    </p>
    <p>
        @Resources.Этот_процесс_отключает_2FA_до_
    </p>
</div>
<div>
    <form id="reset-authenticator-form" method="post" class="form-group">
        <button id="reset-authenticator-button" class="btn btn-danger" type="submit">@Resources.Сбросить_ключ_аутентификатора</button>
    </form>
</div>