@model IEnumerable<RozetkaWebApp.Models.RootImage>

@{
    ViewData["Title"] = "Администрирование порталов";
}
        <p> 
           <a> Администрирование </a> \
       </p>

<h1>@ViewData["Title"]</h1>


        <ul class="nav nav-tabs">
            <li class="nav-item">  <a class="nav-link" href="/Portals">Порталы</a> </li>
            <li class="nav-item">  <a class="nav-link active" href="/RootImages/Index">Изображения</a> </li>
        </ul> 
 
   
     <p><h4> Список изображений </h4></p>
            
     <p><a  class="btn btn-success" asp-action="Create" > Добавить новое </a>  </p>
         <hr />   


    <div class=row>
        @foreach (var item in Model) 
        {
          <div class="col-md-3">
              <div class="thumbnail">   
              <img src="/images/Index/@item.ImageId" alt="item.Label" width="100%">    
         </div> 
         <div class="col-12 text-truncate h6">              
                <a asp-action="Edit" asp-route-id="@item.RootImageId"> <i class="fas fa-solid fa-pen-square"></i> </a> 
                <a asp-action="Delete" asp-route-id="@item.RootImageId"> <i class="fas fa-solid fa-trash"></i> </a>
                @Html.DisplayFor(modelItem => item.Label)
          </div>
            <p></p>  
         </div>    
        }
    </div>
