@{

    ////<form asp-action="Edit">
    //<div class="form-group">
    //    <input type="submit" value="Застосувати" class="btn btn-success" />
    //    <input type="text" id="result">
    //    <hr />
    //</div>
    ////</form>
    //<div>
    //</div>

    string path = Context.Request.Path + (("?Filter=")) + ViewBag.Filter + (("&pageSize=")) + ViewBag.PageSize + (("&page=")) + ViewBag.PageSize ;

 
    foreach (var i in ViewBag.Selectors)
    {
        <div class="form-check m-0 p-0 mr-2 small">
            <h6> @i.Label </h6>
            <div class="form-check overflow-auto" style="max-height: 200px; scrollbar-width: thin;">
                @foreach (string s in i.Value.Split(','))
                {
                    <div>
                        <input class="form-check-input" type="checkbox" id="flexSwitchCheckDefault">
                        <label class="form-check-label" for="flexSwitchCheckDefault">@s</label>
                    </div>
                }
            </div>
            <hr></hr>
        </div>


    }
}