@{
    ViewBag.Title="Корзина";
}
@*    <p> 
         <a asp-controller = "Portals" asp-action="Index" > Администрирование </a> >
         <a asp-controller = "Portals" asp-action="Details" asp-route-id="@ViewBag.Portal.PortalId"> @ViewBag.Portal.Label </a> 
    </p>*@

    <h1>@ViewBag.Title</h1>


       
