@model RozetkaWebApp.Models.LineDetail

@{
    ViewBag.ManagerTab = "active";
    Html.RenderPartial("_CartNavigator");
}

<p><h4>Изменить количество товара</h4></p>

<div class="row">
    <div class="col-md-4">
        <form asp-action="Edit">
                <div class="form-group">
                <input type="submit" value="Сохранить" class="btn btn-success" />
                 <button type="button" class="btn btn-primary"  onclick= "history.go(-1)">Отменить</button>
                <hr />
            </div>  
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="OrderDatailId" />
            <div class="form-group" style="display: none">
                <label asp-for="OrderId" class="control-label"></label>
                <input asp-for="OrderId" class="form-control" ></input>
                <span asp-validation-for="OrderId" class="text-danger"></span>
            </div>
            <div class="form-group" style="display: none">
                <label asp-for="UserId" class="control-label"></label>
                <input asp-for="UserId" class="form-control" />
                <span asp-validation-for="UserId" class="text-danger"></span>
            </div>
            <div class="form-group" style="display: none">
                <label asp-for="CartId" class="control-label"></label>
                <input asp-for="CartId" class="form-control" />
                <span asp-validation-for="CartId" class="text-danger"></span>
            </div>
            <div class="form-group" >
                <label asp-for="ProductId" class="control-label">Товар</label>
                <select ReadOnly="false" asp-for="ProductId" class="form-control" asp-items="ViewBag.ProductId"></select>
                <span asp-validation-for="ProductId" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Quantities" class="control-label">Количество</label>
                <input asp-for="Quantities" class="form-control" />
                <span asp-validation-for="Quantities" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="UnitCost" class="control-label">Цена</label>
                <input ReadOnly="false" asp-for="UnitCost" class="form-control" />
                <span asp-validation-for="UnitCost" class="text-danger"></span>
            </div>
            <div class="form-group" style="display: none">
                <label asp-for="Status" class="control-label"></label>
                <input asp-for="Status" class="form-control" />
                <span asp-validation-for="Status" class="text-danger"></span>
            </div>
            <div class="form-group" style="display: none">
                <label asp-for="ExtOrderDetailNbr" class="control-label"></label>
                <input asp-for="ExtOrderDetailNbr" class="form-control" />
                <span asp-validation-for="ExtOrderDetailNbr" class="text-danger"></span>
            </div>
            <div class="form-group" style="display: none">
                <label asp-for="CreateDate" class="control-label"></label>
                <input asp-for="CreateDate" class="form-control" />
                <span asp-validation-for="CreateDate" class="text-danger"></span>
            </div>
            
        </form>
    </div>
</div>


@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
